<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.crud05">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Crud05">
        <activity android:name=".CategoriaEliminarActivity"></activity>
        <activity android:name=".CategoriaConsultarActivity" />
        <activity android:name=".CategoriaActualizarActivity" />
        <activity android:name=".CategoriaInsertarActivity" />
        <activity android:name=".CategoriaMenuActivity" />
        <activity android:name=".DetalleProductoCrudActivity" />
        <activity android:name=".HorarioEliminarConsultarActivity" />
        <activity android:name=".HorarioActualizarActivity" />
        <activity android:name=".HorarioInsertarActivity" />
        <activity android:name=".HorarioMenuActivity" />
        <activity android:name=".LocalMenuActivity" />
        <activity android:name=".EncargadoLocalMenuActivity" />
        <activity android:name=".LocalEliminarActivity" />
        <activity android:name=".LocalCrearActualizarActivity" />
        <activity android:name=".EncargadoLocalIncerActualActivity" />
        <activity android:name=".EncargadoLocalEliminarActivity" />
        <activity android:name=".UbicacionConsulElimiActivity" />
        <activity android:name=".UbicacionInserActuaActivity" />
        <activity android:name=".UbicacionMenuActivity" />
        <activity android:name=".ProductoConsultarActivity" />
        <activity android:name=".ProductoActualizarActivity" />
        <activity android:name=".ProductoEliminarActivity" />
        <activity android:name=".ProductoInsertarActivity" />
        <activity android:name=".DetallePedidoConsultarActivity" />
        <activity android:name=".DetallePedidoActualizarActivity" />
        <activity android:name=".DetallePedidoEliminarActivity" />
        <activity android:name=".DetallePedidoInsertarActivity" />
        <activity android:name=".TipoPagoConsultarActivity" />
        <activity android:name=".TipoPagoActualizarActivity" />
        <activity android:name=".TipoPagoEliminarActivity" />
        <activity android:name=".TipoPagoInsertarActivity" />
        <activity android:name=".ProductoActivity" />
        <activity android:name=".DetallePedidoActivity" />
        <activity android:name=".TipoPagoActivity" />
        <activity android:name=".PedidoMenuActivity" />
        <activity android:name=".PedidoAsignadoMenuActivity" />
        <activity android:name=".RepartidorMenuActivity" />
        <activity android:name=".RepartidorInsertatActivity" />
        <activity android:name=".RepartidorActualizarActivity" />
        <activity android:name=".RepartidorConsultarActivity" />
        <activity android:name=".RepartidorEliminarActivity" />
        <activity android:name=".PedidoConsultarActivity" />
        <activity android:name=".PedidoActualizarActivity" />
        <activity android:name=".PedidoInsertarActivity" />
        <activity android:name=".PedidoEliminarActivity" />
        <activity android:name=".PedidoAsignadoInsertarActivity" />
        <activity android:name=".PedidoAsignadoConsultarActivity" />
        <activity android:name=".PedidoAsignadoActualizarActivity" />
        <activity android:name=".PedidoAsignadoEliminarActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>